.horizonLine {
	height: 4px;
	width: 370px;
	background: rgb(19, 202, 89);
}
.headsupdisplay {
	color: greenyellow;
	background: rgba(77, 57, 74, 0.5);
}
.horizonLine {
	size:456px
}
.weather {

}
.flightSpeed {

}
.fuelLevel {
	color:orange
}
.rightPanel {
	color:orange;
	width: 400px;
}
.leftPanel {
	color:orange
}