*{
	margin:0;
	padding:0;
}.horizonLine {
	height: 4px;
	width: 350px;
	background: rgb(19, 202, 89);
}
.headsupdisplay {
	color: greenyellow;
	background: rgba(77, 57, 74, 0.5);
	padding: 5px;
	text-shadow: 0px 0px 3px #000;
}
.horizonLine {
	size:456px
}
.weather {
	text-align: right;
}
.weatherIcons {
	font-size:30px;
	text-align: right;
}
.flightSpeed {
	white-space: pre-wrap;
}
.fuelLeft {
	width:50px;
	font-size:32px;
}
.fuelLevel {
	display:flex;
}
.rightPanel {
	width: 400px;
}